input[type = checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}


input[type="checkbox"] + span {
  width: 16px;
  display: flex;
  height: 16px;
  border: 1px solid rgba(130, 143, 163, 0.25);
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 2px;
  margin-right: 16px;
}

input[type="checkbox"]:checked + span {
  background: var(--main-purple) url("../../assets/icon-check.svg") no-repeat center ;
}

input[type="checkbox"]:checked ~ div {
  text-decoration:line-through;
  color: var(--medium-grey)
}