
.titleIcon {
  height: 15px;
  width: 15px;
  border-radius: 50%;;
}

.taskList {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  list-style: none;
  min-width: 280px;
  gap:20px;
  padding: 0;
}