:root {
}



.heading_XL {
  font: bold 24px/30px  "Plus Jakarta Sans", sans-serif  ;
} 

.heading_L {
  font: bold 18px/23px  "Plus Jakarta Sans", sans-serif  ;
}

.heading_M {
  font: bold 15px/19px  "Plus Jakarta Sans", sans-serif 
}

.heading_L {
  font: bold 12px/15px  "Plus Jakarta Sans", sans-serif 
}