.menuBtn {
  height: 20px;
  width: 10px;
  cursor: pointer;
  background: url('../../assets/icon-vertical-ellipsis.svg') center no-repeat;
}

.dropDown {
  z-index: 123;
  display: flex;
  flex-direction: column;
  position: absolute;
  right:-100px;
  top:20px;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  list-style: none;
  background-color: inherit;
  gap: 16px;
  color: var(--black);
  max-width: 192px;
  width: max-content;
}

.editButton {
  color: var(--medium-grey);
  cursor: pointer;
}
.deleteButton {
  color: var(--red);
  cursor: pointer;
}

.wrapper {
  position: relative;
}