.columnItem {
  width: 280px;
  padding: 23px 16px;
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 7px 5px 9px -5px  #000;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.taskName {
}

.subtaskCounter {
  color: var(--medium-grey)
}